*.o
/cecup
/bin/
/package/cecup
/package/src
/package/pkg
/.cache/
compile_commands.json
tags
.tags.vim
*.SRCINFO
*.git/
*.po~
*.mo
*.pot
valgrind_output*
callgrind*
vgcore.*
gdb_output*
/a/
/b/
gtk3/
.welcome.h
filelist.txt
