/a/
abackup
/b/
/bin/
bin/
/.cache/
callgrind*
/cecup
*.cmd
compile_commands.json
filelist.txt
gdb_output*
*.git/
gtk3/
*.mo
*.o
/package/cecup
/package/pkg
/package/src
*.po~
*.pot
*.SRCINFO
tags
.tags.vim
*.tar.gz
*temp_delete_me*
valgrind_output*
vgcore.*
.welcome.h
*.obj
static-analyzers-warnings.txt
