[Desktop Entry]
Type=Application
Name=Cecup
Comment=Directory synchronization frontend for rsync
Exec=cecup %F
Icon=folder-sync
Terminal=false
Categories=System;FileTools;GTK;
Keywords=rsync;sync;backup;copy;
StartupNotify=true
